#root {
  max-width: 99vw;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
 
}
body { 
  background: rgb(0,0,0);
  background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 20%, rgba(200,0,0,1) 100%);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.movierow::-webkit-scrollbar {
  display: none;
}
.movierow {
  max-width: fit-content;
  display:-webkit-flex;
  flex-direction: row;
  overflow-x:scroll ;
  overflow-y: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  justify-content:baseline;
  box-shadow: 10px 10px 100px rgb(20, 20, 20);
  border-radius: 2ex;
  padding: 0%;
  transition-duration: 0.6s;
}

.movierow:hover {
  background-color: rgba(240, 248, 255, 0.2);
}
.pprsTitle {
  text-align: center;
  align-self: center;
  padding: auto;
}

.movieTile {
  border-radius: 2ex;
  padding: 1ex;
  transition: transform .2s;
}

.movieTile:hover {
transform: scale(1.1);

}

.movierowTitle {
  text-align: left;
  padding: 0%;
}

.topbar {
  background: rgba(20,20,20,0.8);
  /* filter: blur(1px); */
  border-radius: 0% 0% 2ex 2ex;
  box-shadow: 20px 20px 1px rgba(20, 20, 20, 0.2) inset;
  top: 0;
  width: 99.1vw;
  height: 80px;
  padding: 2ex 0ex 0ex 0ex; 
  overflow-y: visible;
}

.topbar-logo {
  height: 64px;
  width: 64px;
  position: absolute;
  left: 0%;
  padding: auto;
}

.topbar-title {
  padding: 0ex 0ex 0ex 2.5ex;
  text-align: justify;
  display:flow-root;
  justify-content: baseline;
  /* width: 100%; */
  line-height: 64px;
  font-size: 300%;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-shadow: 1px 1px 1px black;
  /* overflow-y: visible; */
}

