#root {
  max-width: 99vw;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
 
}
body { 
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(238,0,0,1) 100%);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.movierow::-webkit-scrollbar {
  display: none;
}
.movierow {
  max-width: fit-content;
  display:-webkit-flex;
  flex-direction: row;
  overflow:scroll ;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  justify-content:baseline;
  box-shadow: 10px 10px 100px rgb(20, 20, 20);
  border-radius: 2ex;
  padding: 0%;
}

.pprsTitle {
  text-align: center;
  align-self: center;
  padding: auto;
}

.movieTile {
  border-radius: 2ex;
  padding: 1ex;
}

.movierowTitle {
  text-align: left;
  padding: 0%;
}